asyncpg>=0.31.0,
fastapi>=0.129.0,
openai>=2.21.0,
openai-agents>=0.9.3,
psycopg2>=2.9.11,
pydantic>=2.12.5,
python-dotenv>=1.2.1,
python-slugify>=8.0.4,
rich>=14.3.3,
sqlalchemy>=2.0.46,
uvicorn>=0.41.0